.u-vertical-center{
	display: flex;
	align-items: center;
}
.u-space-between{
	display: flex;
	justify-content: space-between;
}

.u-left-40p{
	margin-left: 40%;
}

.u-left-50p{
	margin-left: 50%;
}


//Button
.btn--default{
	    background: #333;
		color: #fff;
		text-decoration: none;
		font-size: 1.7rem;
		font-weight: 300;
		padding: .5rem 1rem;
		border:none;
		cursor: pointer;
		&:focus{
			outline: none;
		}
}

.btn--transparent{
	background:none;
	border:none;
		cursor: pointer;
	&:focus{
			outline: none;
		}
}

//Rating
.ratingstar{
	color: #FFC733;
}

//Spinner
.spinner{
	margin-left: 50%;
}

//Alert
.alert{
	width: 50%;
	margin: 5rem auto;
}