.placeorder-view{
	width: 70%;
	margin: 2rem auto;
	&__container{
	 display: flex;	
	}

	&__info{
      flex: 0 0 60%;
      margin: 0 2.5%;
	}
	&__summary{
	  flex: 0 0 30%;
	  margin: 0 2.5%;
	  border: solid .1rem var(--color-grey-light-4);
	}
	&__summarytitle{
		padding: .75rem 1.25rem;
	}
	&__summarybox{
		border-top: solid .1rem var(--color-grey-light-4);
	}
	&__btnorder{		
		width: 100%;
	}
	&__imgbox{
		height: 100%;
	}
	&__img{
		height: 100%;
	}
}