.profile-view{
	display: flex;
	min-height: 80vh;
	&__nav{
		flex: 0 0 20%;
	}
	&__container{
      flex: 1;
      display: flex;
	}
	&__form{
		width: 70%;
		margin: 2.5rem auto;
	}
	&__tablebox{
		flex: 0 0 70%;
		 margin: 2.5rem auto;
	}
	&__table{
		width: 100%;
		color: var(--color-grey-dark-2);
		font-size: 1.7rem;
		font-weight: 300;
		border-collapse:collapse;
		border: solid .1rem var(--color-grey-light-4);
	}
	&__tr{
	border-bottom: solid .1rem var(--color-grey-light-4);
	}
	&__td{
		padding: .75rem;
	}
	&__title{
		font-size: 2rem;
		font-weight: 400;
	}
}

